*,
::after,
::before {
    box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

html {
    font-family: var(--headingFont);
    font-size: 100%;
}

:root {
    /* colors */
    --primary: #f387bd;
    --primary-100: #fdeaf3;
    --primary-200: #fcd6e9;
    --primary-300: #f8c3de;
    --primary-400: #fcb6d9;
    --primary-500: #fc9fcd;
    --primary-600: #f387bd;
    --primary-700: #f770b3;
    --primary-800: #f552a4;
    --primary-900: #f5208b;

    /* grey */
    --grey-50: #f8f8f8;
    --grey-100: #dbdbdb;
    --grey-200: #c5c5c5;
    --grey-300: #acacac;
    --grey-400: #8b8b8b;
    --grey-500: #757575;
    --grey-600: #585858;
    --grey-700: #464646;
    --grey-800: #414141;
    --grey-900: #333333;

    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* fonts  */
    --headingFont: 'Montserrat', Sans-Seri;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;

    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 500px;
    --fluid-width: 90vw;
    --breakpoint-lg: 992px;
    --nav-height: 6rem;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* buttons */

.btn {
    display: inline-block;
    width: 15rem;
    margin: 1rem;
    color: var(--textColor);
    font-family: var(--headingFont);
    font-size: 1.5rem;
    text-align: center;
    background: var(--primary-700);
    border: transparent;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.4rem 0.8rem;
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    color: var(--primary-600);
    background: var(--grey-600);
    box-shadow: var(--shadow-4);
}

.btn-hipster {
    color: var(--primary-800);
    background: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}

.btn-hero {
    font-size: 1.25rem;
    padding: 0.5rem 1.25rem;
}

.btn-danger {
    background: var(--red-light);
    color: var(--red-dark);
}

.btn-danger:hover {
    background: var(--red-dark);
    color: var(--white);
}
